---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<style>
.bibliography {
  list-style: none;
  counter-reset: pub-counter;
  padding-left: 0;
  margin-left: 0;
}

.bibliography li {
  counter-increment: pub-counter;
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.25em;
  line-height: 1.45;
}

.bibliography li::before {
  content: "[" counter(pub-counter) "]";
  flex: 0 0 3em;
  margin-right: 0.75em;
}

.pub-entry {
  flex: 1;
  min-width: 0;
}

.pub-citation {
  display: inline;
}

.pub-links {
  display: inline;
  margin-left: 0.35em;
  font-size: 0.9em;
}

.pub-links a {
  margin-right: 0.45em;
  white-space: nowrap;
}
</style>

<ol class="bibliography">
{% assign publications = site.publications | sort: "date" | reverse %}
{% for post in publications %}
  <li>
    <div class="pub-entry">
      <span class="pub-citation">
        {% if post.citation_html %}
          {{ post.citation_html }}
        {% elsif post.citation %}
          {{ post.citation | markdownify | remove: '<p>' | remove: '</p>' }}
        {% else %}
          {{ post.title }}{% if post.venue %}, <em>{{ post.venue }}</em>{% endif %}{% if post.date %}, {{ post.date | date: "%Y" }}{% endif %}.
        {% endif %}
      </span>

      {% if post.paperurl or post.thesisurl or post.bibtexurl or post.slidesurl or post.codeurl %}
        <span class="pub-links">
          {% if post.paperurl %}
            <a href="{{ post.paperurl }}">[paper]</a>
          {% endif %} 
          {% if post.thesisurl %}
            <a href="{{ post.thesisurl }}">[thesis]</a>
          {% endif %}
          {% if post.bibtexurl %}
            <a href="{{ post.bibtexurl }}">[bibtex]</a>
          {% endif %}
          {% if post.slidesurl %}
            <a href="{{ post.slidesurl }}">[slides]</a>
          {% endif %}
          {% if post.codeurl %}
            <a href="{{ post.codeurl }}">[code]</a>
          {% endif %}
        </span>
      {% endif %}
    </div>
  </li>
{% endfor %}
</ol>

<script>
window.MathJax = {
  tex: {
    inlineMath: [['\\(', '\\)']],
    displayMath: [['\\[', '\\]']]
  },
  svg: {
    fontCache: 'global'
  }
};
</script>

<script async id="MathJax-script"
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
</script>
